__pycache__/
*.py[cod]
*$py.class

.Python
.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

build/
dist/
*.egg-info/
build-*/
*.spec
*.AppImage
*.AppDir/
appimagetool-*.AppImage
run_dashboard.sh

build-appimage/

.DS_Store
